@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply w-full border border-[#000000] rounded py-2 px-3 text-black leading-tight focus:outline-none my-3;
}

.register-button {
  @apply w-full bg-blue shadow-sm hover:shadow transition-all duration-300 rounded py-2 px-3 text-white focus:outline-none my-3 uppercase text-sm font-normal;
}

/* Display Input Text Cursor */
.disable-selection {
  user-select: none;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}